[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w -C '%h/.config/swaylock/niri-config'
Restart=on-failure
