[submodule "nvim"]
	path = dot-config/nvim
	url = git@github.com:Tejada-Omar/nvim-dots.git
	ignore = dirty
[submodule "tmux"]
	path = dot-config/tmux
	url = git@github.com:Tejada-Omar/tmux-dots.git
	ignore = dirty
[submodule "doom"]
	path = dot-config/doom
	url = git@github.com:Tejada-Omar/doom.git
	ignore = dirty
